.food {
  margin: 30px 10px;
  width: calc(25% - 20px);
  border: 1px solid rgb(228, 228, 228);
  border-radius: 1px;
  padding: 10px;
}

.img {
  display: block;
  width: 70%;
  margin-top: 30px;
}

.title {
  width: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.empty {
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  color: rgb(192, 192, 192);
  font-style: italic;
}

@media (max-width: 1024px) {
  .food {
    width: calc(33% - 20px);
  }
}

@media (max-width: 768px) {
  .food {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .food {
    width: calc(100% - 20px);
  }
}
